<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Prasanna Kumar M" />
  <meta name="keywords" content="webprojects,learnhtml,learnjs" />
  <meta name="description" content="web-project" />

  <link rel="stylesheet" href="/static/CSS/style.css" />
  <title>DEV-PROJECT</title>
</head>

<body>
  <div>
    <h1>STUDENT MANAGEMENT</h1>
  </div>
  <hr />

  <script src="/static/JS/hello.js"></script>

  <div id="homepage-button-div">
    <a href="/new/"> <button class="home-button">NEW REGISTRATION</button></a>


    <a href="/records/"> <button class="home-button">VIEW RECORDS</button></a>
    <br>


    <a href="/edit/"> <button class="home-button">EDIT RECORDS</button></a>


    <a href="/download/"> <button class="home-button">DOWNLOAD RECORDS</button></a>

    <br>
  </div>


</body>

</html>